/* Base Style Sheet */

*{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-self: auto;
    width: auto;
}

title{
    display: none;
}

.name{
    text-align: center;
}

.main-nav{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.main-nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: black;
    display: block;
    padding: 10px;
    border: solid 3px rgb(233, 233, 233);
    background-color: white;
}



.top {
    color: rgba(71, 71, 71, 0.849);
    font-weight: lighter;
    text-align: center;
    width: auto;
    margin: auto;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.student-image{
    width: 55%;
    align-self: center;
}

.sections{
    background-color: whitesmoke;
    text-align: center;
}

.portfolio{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 50px;
    background-color: whitesmoke;
}

.col {
    background-color: whitesmoke;
    width: 100%;
    color: rgba(71, 71, 71, 0.849)
}

.col h3{
    font-weight: 600;
    margin-bottom: -5px;
    background-color: whitesmoke;;
}

.col p{
    font-weight: 500;
    align-self: center;
    width: 82%;
    flex-wrap: wrap;
    margin-bottom: 35px;
    background-color: whitesmoke;
}

.pic {
    width: 93%;
    align-self: center;
}

footer{
    background-color: rgb(233, 233, 233);
    text-align: center;
    color: rgba(71, 71, 71, 0.781);
}

footer h3{
    color: rgba(59, 59, 59, 0.849);
    font-weight: bolder;
}

footer h4 {
    font-size: large;
    font-weight: lighter;
}

footer p {
    flex-direction: row;
    align-self: center;
}

/* .bottom-nav {
    align-self: flex-start;
    padding-left: 1.5%;
    font-weight: 600;
    color: rgba(59, 59, 59, 0.849)
} */

footer hr {
    border: solid 0.1px rgba(59, 59, 59, 0.335);
    width: 97%;
}

.bottom{
    display: none;
}



/* Media Queries */

@media screen and (min-width: 320px){
    *{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (min-width: 768px) {

    body{
        background-color: rgb(233, 233, 233);
    }

    header{
        align-items: center;
    }

    .main-nav{
        display: flex;
        height: 80px;
        width: 400px;
    }

    .main-nav a{
        background-color: rgb(233, 233, 233);
    }

    .top{
        display: flex;
        flex-direction: row-reverse;
        height: 300px;
        width: 92%;
        box-sizing: border-box;
    }

    .top img{
        width: 40%;
        height: auto;
    }

    .top p{
        width: 50%;
        height: auto;
        text-align: left;
    }

    .sections{
        width: 99%;
    }

    .col img{
        width: 85%;
        height: auto;
    }

    .col p{
        width: 45%;
        height: auto;
    }

    .gbox{
        display: inline-flex;
        width: 97%;
        height: 430px;
        background-color: whitesmoke;
    }
    .first{
        width: 50%;
        height: 425px;
        vertical-align: top;
    }
    .second{
        width: 50%;
        height: 425px;
        vertical-align: top;
    }
    
    .gboxX{
        display: inline-flex;
        width: 97%;
        height: 430px;
        background-color: whitesmoke;
    }
    .third{
        width: 50%;
        height: 425px;
        vertical-align: top;
    }
    .fourth{
        width: 50%;
        height: 425px;
        vertical-align: top;
    }
   
    .gboxXx{
        display: inline-flex;
        width: 97%;
        height: 430px;
        background-color: whitesmoke;
    }
    .fifth{
        width: 50%;
        height: 425px;
        vertical-align: top;
    }
    .sixth{
        width: 50%;
        height: 425px;
        vertical-align: top;
    }
    

    .last{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }

    .item1{
        display: inline-flex;
        margin-right: 600px;
        width: 200px;
    }

    .bottom-nav-button{
        display: flex;
        justify-content: space-around;
    }


}